.picture
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}
.img1
{
    background-image: url(https://www.akamai.com/site/im-demo/perceptual-standard.jpg?imbypass=true);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    height: 300px;
    border-radius: 30px;
}
h2
{
    margin-left: 100px;
}
@media screen and (min-width:1024px)
{
    
    .img1
    {
        display: flex;
        width: 15%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px)
{
    
    .img1
    {
        width: 30%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width:340px) and (max-width:767px)
{
    
    .img1
    {
        width: 90%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}