
body{
    background-color: black;
}
@media screen and (max-width:1920px)
{
    body{
        background-color: rgb(14, 245, 14);
    }
        
}
@media screen and (max-width:1200px)
{
    body{
        background-color: rgb(255, 0, 0);
    }
}
